/* Here we can set styles for this lab page that we don't want to effect others pages */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

.special {
  background-color: lavender;
  border: dotted 5px rgb(196, 152, 152);
  color: pink;
  font-weight: bold;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: darkgray;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}
